@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  display: flex;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}

a {
  font-weight: 500;
  text-decoration: none;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #0f135e;
  }
}

.site-logo {
  z-index: 1;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 220px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

#mobile-logo {
  display: none;
}

.site-logo-img {
  width: 100%;
  -webkit-user-drag: none;
}

@media screen and (max-width: 600px) {
  .site-logo {
    opacity: 0.85;
    width: 50px;
  }

  #mobile-logo {
    display: block;
  }

  #desktop-logo {
    display: none;
  }
}

@media (hover: hover) {
  .site-logo:hover {
    transform: scale(1.033);
  }
  .site-logo:active {
    transform: scale(1);
  }
}

.site-logo:focus {
  outline: none;
}
